/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

/* Override foundation menu */
.nav-bar{ margin-top: 0; }

/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */
.post { overflow: hidden; }
.panel { border: 1px solid black; }

/* -----------------------------------------
   Index
----------------------------------------- */


/* -----------------------------------------
   Page Name 2
----------------------------------------- */


