/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

/* Override foundation menu */
.nav-bar{ margin-top: 0; }
body{font: Helvetica, Sans-Serif;}
h2{font: Oxygen sans-serif;}
a{ color: #AB660D;}
a:hover { color: #EC068D; }
a:focus { color: #EC068D; outline: none; }
.post {
	overflow: hidden;
	box-shadow: 0 0 0 !important;
	border: 0 !important;
	background: none !important;
}
.archive .post {
	margin-bottom: 10px;
}

.panel {  border: 2px solid #EC068D; }
.label{background-color: #EC068D;}
div.panel{background-color:#Fff5ee;border:3px solid #ec068d;}
/*img{border:1px solid black;}*/
.featured-hero-image{
	position:relative;
	padding-left:0;
}
.featured-hero-image h2{
	position:absolute;
	top: 175px;
	left:0;
}
.shadow {box-shadow:0 1px 2px rgba(34, 25, 25, 0.4);}
.featured-hero-image h2 span{
	color:white;
	font: bold 24/45px Helvetica, Sans-Serif;
	letter-spacing:-1px;
	background: rgba(0,0,0,0.7);
	padding: 10px;
}
.ad{content:"Advertisement";display:none;}
.alignleft{float:left;}
.menu-item{white-space: nowrap;text-align:center;}
/*ul.nav-bar [class*="column"] + [class*="column"]:last-child { float: left; }*/
@media only screen and (max-width: 767px) {
	.featured-hero-image{
		text-align:center;
	}
	.featured-hero-image h2 {
		position: inherit;
		margin-top: -54px;
	}
}

.block-grid.two-up > li:nth-child(2n+1),
.block-grid.three-up > li:nth-child(3n+1),
.block-grid.four-up > li:nth-child(4n+1),
.block-grid.five-up > li:nth-child(5n+1) {
    clear: both;
}

.overflow{overflow:hidden;}

.endfooter{padding: 5px; margin-bottom: 20px; text-align: center; color: #cccccc;}